.accordion__title{
    font-size: rem(48px);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    min-height: 100%;
}   
.accordion{
    width: 65%;
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
}
.accordion__desc{
    display: flex;
    background-color: rgba(57, 60, 62, 0.7);
}
.accordion__list{
    display: flex;
}
.accordion__title-milk{
    background: url(./../image/menu-milk.jpg) center center no-repeat;
    background-size: cover;
}
.accordion__title-fruit{
    background: url(./../image/menu-fruct.jpg) center center no-repeat;
    background-size: cover;
}
.accordion__title-berry{
    background: url(./../image/menu-berry.jpg) center center no-repeat;
    background-size: cover;
}
.accordion__text{
    height: 0;
    width: 0;
    overflow: hidden;
}