.title{
    background: url(./../image/back.jpg) 100% 100% no-repeat;
    background-size: cover;
    background-color: #61c4d9;
    max-width: 100%;
    z-index: 0;


    @include tablets{
        background-position: 70%
    }
}
.title-container{
   position: relative;
 }
.title-container::after{
   content: url(./../image/back2.png);
   position: absolute;
   display: block;
   top: 0;
   right: 0;
   z-index: -1;   
}
