.title{
    position: relative;
    background: url(./../image/back.jpg) 100% 100% no-repeat;
    background-size: contain;
    background-color: #61c4d9;
    max-width: 100%;
    z-index: 0;
}
.title::after{
   content: url(./../image/back2.png);
   position: absolute;
   display: block;
   top: 18%;
   right: 15%;
   bottom: 0;
   z-index: -1;   
}
