.barChocco-container{
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets{
        align-items: start;
    }
}

.barChocco{
    display: flex;

    @include tablets{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}


