html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px; 

    @include tablets{
        font-size: 13px;
    }

    @include phones{
        font-size: 12px;
    }
}
h1, h2, h3, ul, p{
    margin: 0;
    padding: 0;
}
ul > li{
    list-style: none;
}
.container{
    width: 95%;
    max-width: 943px;
    margin: 0 auto;
    height: 100%;
    justify-content: center;
}
.wrapper{
    overflow: hidden;
}
section{
    height: 100vh;
}
a{
    text-decoration: none;
}

