.chocco__main {
  padding-top: 23px; }

.main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.main__pic {
  width: 70px;
  height: 70px;
  background-color: #f2f5f4;
  padding: 25px;
  border-radius: 50%; }

.main__img {
  max-width: 100%; }

.main__title {
  padding-top: 35px;
  font-style: 27px;
  font-weight: bold; }

.main__text {
  padding-top: 30px;
  font-style: 18px;
  color: #666666; }

.dots {
  bottom: 195px;
  left: 200px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f2f5f4;
  position: relative; }

.dots::after {
  left: 30px;
  top: 28%;
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f2f5f4;
  border-radius: 50%; }

.dots::before {
  right: 30px;
  top: 28%;
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f2f5f4;
  border-radius: 50%; }
