.composition__box{
    display: flex;
}
.barChocco__pic{
    padding-right: rem(70px);
    width: 100%;
    @include tablets{
        padding: 0;
    }
}
.barChocco__img{
    max-width: 100%;

    @include phones{
        max-width: 75%;
    }
}
.composition__pic{
    width: rem(50px);
    height: rem(50px);
    fill: #fff;
}
.consist{
    color: #fff;
}
.composition__icon{
    width: rem(90px);
    height: rem(90px);
    background-color: #61c4d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include tablets{
        position: absolute;
        top: 0;
        right: 0;

    }
}
.item__pic{
    width: rem(25px);
    height: rem(35px);
    padding-right: rem(30px);
}
.ingredients{
    padding-right: rem(40px);
   
}
.composition__item{
    display: flex;
}
.composition__list{
    background-color: rgba(255, 255, 255, 0.9);
    padding: rem(25px) rem(20px) rem(25px) rem(35px);
    position: absolute;
    content: "";
    right: 26%;
    display: none;

    &-open{
        display: block;
    }
}
