.footer{
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    min-height: rem(80px);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding-top: rem(30px);
}
.social__list{
    display: flex;
}
.social__pic{
    width: rem(20px);
    height: rem(20px);
    padding-left: rem(20px);
    fill: #b3b3b3;
}
.social__pic:hover{
    fill: black;
}
.adress{
    font-size: rem(21px);
}
.footer__phone{
    font-size: rem(21px);
}
.phone::before{
    content: url(./../icons/phone.svg);
    top: 0;
    left: 0;

}
.link__phone{
    color: #0f5a47;
}