.footer{
    position: absolute;
    content: "";
    bottom: 0;
    left: 50px;
    right: 50px;
    background-color: #fff;
    min-height: 80px;
}
.footer-container{
    display: flex;
    justify-content: space-between
}
.social__list{
    display: flex;
}
.social__pic{
    width: 20px;
    height: 20px;
    padding-left: 20px;
    fill: #b3b3b3;
}
.social__pic:hover{
    fill: black;
}
.adress{
    font-size: 21px;
}
.phone{
    font-size: 21px;
}
.phone::before{
    content: url(./../icons/phone.svg);
    top: 0;
    left: 0;

}
.link__phone{
    color: #0f5a47;
}