.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    @include tablets{
        width: 25px;
        border-bottom: 3px solid #fff;
        border-radius: 1px;
        position: relative;
        cursor: pointer;
    }
	
}
.nav::after{
    position: absolute;
    content: "";
    width: 25px;
    border-bottom: 3px solid #fff;
    border-radius: 1px;
    bottom: 7px;
}
.nav::before{
    @include tablets{
    position: absolute;
    content: "";
    top: 24px;
    width: 25px;
    border-bottom: 3px solid #fff;
    border-radius: 1px;
    }
}
.nav__list{
    padding-top: rem(17px);
    display: flex;
    min-width: 100%;
}
.nav__item{
    padding-right: rem(24px);
    font-size: rem(18px);

    @include tablets{
        display: none;
    }
}
.logo{
    padding-top: rem(20px);
}
.phone__link{
    font-size: rem(24px);
    color: #fff;
}
.nav__link{
    color: #fff;
}
.phone::before{
    content: url(./../image/phone_.png);
    top: 0;
    left: 0;
}
.phone{
    padding-top: rem(10px);
}
