.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list{
    padding-top: 17px;
    display: flex;
    min-width: 100%;
}
.nav__item{
    padding-right: 24px;
    font-size: 18px;
}
.logo{
    padding-top: 20px;
}
.phone__link{
    font-size: 24px;
    color: #fff;
}
.nav__link{
    color: #fff;
}
.phone::before{
    content: url(./../image/phone_.png);
    top: 0;
    left: 0;
}
.phone{
    padding-top: 10px;
}
