.menu-section{
    color: #fff;
    background: url(./../image/menu-back.jpg) center center/cover no-repeat;
}
.menu{
    display: flex;
    position: relative;
}
.accordion{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
}
.menu__title{
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 100px 0 0 260px;
}
.menu__block{
    width: 30%
}