.reviews{
    margin-bottom: 10%;
    position: relative;
    margin-top: rem(70px);
    background: url(./../image/revBerry.png) right top no-repeat;
}
.reviews::after{
    position: absolute;
    content: url(./../image/revBerry2.png);
    bottom: 0px;
    left: 0;
} 
.reviews::before{
    position: absolute;
    content: url(./../image/revPattern.png);
    top: rem(450px);
    left: 0;

}   
.rev__item{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 40px;
    background: url(./../image/rev4.png) right top no-repeat;
    background-color: #f8faf9;

    @include tablets{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.rev{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rev__title{
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase; 

    @include phones{
        padding: 0 10%;
    }
}
.user__pic{
    width: 260px;
    padding-right: 20px;
}
.user__img{
    min-width: 100%;
     
    @include phones{
        width: 40%;
    }
}
.rev__desc{
    padding-top: 80px;
    font-size: 18px;
    color: #666666;
   
}
.rev__desc h3{
    color: #000000;
    font-size: 30px;
 
}
.rev__desc p{
    padding-top: 35px;
}
.user__desc{
    @include tablets{
        padding: 0 15%;
    }
}

