.reviews{
    position: relative;
    background: url(./../image/revBerry.png) right top no-repeat;
}
.reviews::after{
    position: absolute;
    content: url(./../image/revBerry2.png);
    bottom: 0px;
    left: 0;
} 
.reviews::before{
    position: absolute;
    content: url(./../image/revPattern.png);
    top: rem(450px);
    left: 0;

} 
.rev__list{
    display: flex;
    overflow: hidden;
    background: url(./../image/rev4.png) right top no-repeat;
    background-color: #f8faf9;
    padding: rem(46px);
    padding-right: 0;
}
  
.rev__item{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    @include tablets{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.rev{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(10px);
}
.rev__title{
    font-size: rem(32px);
    font-weight: bold;
    text-transform: uppercase; 

    @include phones{
        padding: 0 10%;
    }
}
.user__pic{
    width: rem(260px);
    padding-right: rem(20px);

    @include tablets{
        width: rem(205px);
    }
}
.user__img{
    width: 100%;
}
.rev__desc{
    font-size: 18px;
    color: #666666;
    width: 40%;
    padding-top: rem(40px);

    @include tablets{
        width: 60%;
        padding-top: 0;
    }
   
}
.rev__desc h3{
    color: #000000;
    font-size: 30px;
 
}
.rev__desc p{
    padding-top: rem(35px);
    padding-right: rem(145px);

    @include tablets{
        padding-right: 0;
    }
}
.user__desc{
    @include tablets{
        padding: 0 15%;
    }
}

