.reviews {
  margin-top: 70px;
  background: url(./../image/revBerry.png) right top no-repeat; }

.reviews::after {
  content: url(./../image/revBerry2.png);
  bottom: 0;
  left: 0; }

.rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.rev__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.rev__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.navigation__pic:hover ~ .rev-hover {
  opacity: 1; }

.rev__title {
  font-size: 48px;
  font-weight: bold; }

.user__pic {
  width: 260px;
  padding-right: 20px; }

.rev__img {
  max-width: 100%; }

.rev__desc {
  padding-top: 44px;
  color: #666666;
  font-size: 18px; }

.rev__desc h3 {
  color: #000000;
  font-size: 30px; }

.rev__desc p {
  padding-top: 35px; }

.rev-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
