
.rev-navigation{
    padding-top: rem(60px);
    display: flex;
    justify-content: center;
}
.navigation__img{
    max-width: 100%;
    border-radius: 50%;
}
.navigation__pic{
    width: rem(75px);
    height: rem(75px);
    border-radius: 50%;
   
}
.navigation__list{
    display: flex;
}
.navigation__item{
    padding-right: rem(20px);   
}

.navigation__pic:hover{
    border: rem(4px) solid darkgreen;
    box-sizing: border-box;
}

