
.rev-navigation{
    padding-top: 60px;
    display: flex;
    justify-content: center;
}
.navigation__img{
    max-width: 100%;
    border-radius: 50%;
}
.navigation__pic{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    
}
.navigation__list{
    display: flex;
}
.navigation__item{
    padding-right: 20px;   
}
