.team-section{
    padding-top: rem(75px);
}
.team-section::after{
    content: url(./../image/team-berry.png);
    bottom: 0;
    left: 0;
}
.team__title{
    font-size: rem(48px);
    font-weight: bold;
    text-transform: uppercase;
}
.team-content{
    padding-top: rem(65px);
}
.team{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.team__list{
    display: flex;

    @include tablets{
        flex-wrap: wrap;
        justify-content: center;
    }
}
.team__item{
    padding-right: rem(25px);
    text-align: center;

    @include tablets{
        width: 35%;
        padding-bottom: 1%; 
    }
}
.team__pic{
    max-width: rem(220px);
    max-height: rem(290px);
    padding-bottom: 6%;
}
.team__img{
    min-width: width 100%;
}
.team__name{
    padding-top: rem(25px);
    font-size: rem(20px);
    position: relative;
}
.team__name::after{
    position: absolute;
    content: "";
    bottom: 10%;
    right: 10%;
    width: 0;
    height: 0;
    border-left: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    border-top: rem(10px) solid #0f5a47;
}
.team__desc:hover .team__name::after{
    display: none;
}
.team__position{
    padding-top: rem(20px);
    font-size: rem(18px);
}
.team__hover{
    height: 0;
    overflow: hidden;
}
.team__text{
    padding-top: rem(5px);
    font-size: rem(18px);
    color: #666666;
}
.team__desc:hover .team__hover{
    height: 100%;
}
.team__hover-name{
    position: relative;
}
.team__desc:hover .team__hover-name::after{
    position: absolute;
    content: "";
    bottom: 10%;
    right: 10%;
    width: 0;
    height: 0;
    border-left: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    border-bottom: rem(10px) solid #0f5a47;
}