.section__content{
    margin-top: 86px;
}
.content__prev{
    color: #fff;
}
.prev__title{
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
}
.prev__text{
    font-size: 21px;
    line-height: 1.2;
    padding-top: 10px;
}
.content__order{
    padding-top: 30px;
}


