.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}
.pagination__link {
    width: rem(6px);
    height: rem(6px);
    display: block;
    background: #fff;
    border-radius: 50%;   
  }
.pagination__item--border{
    border: rem(1px) solid #fff;
    padding: rem(4px);
    border-radius: 50%; 
}
.pagination__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagination__item{
    padding-top: rem(14px);
}