.title-container{
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.left__block{
    width: 55%;
}
.right__block{
    width: 35%;
    display: flex;
    justify-content:flex-end;
}