.accordion__title{
    font-size: rem(48px);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    height: 100%;
    padding: 0 rem(20px);
    
}   
.accordion{
    position: absolute;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    right: 0;
}
.accordion__desc{
    display: flex;
    background-color: rgba(57, 60, 62, 0.7);

}
.accordion__list{
    display: flex;
}
.accordion__title-milk{
    background: url(image/menu-milk.jpg) center center no-repeat;
    background-size: cover;
}
.accordion__title-fruit{
    background: url(image/menu-fruct.jpg) center center no-repeat;
    background-size: cover;
}
.accordion__title-berry{
    background: url(image/menu-berry.jpg) center center no-repeat;
    background-size: cover;
}
.accordion__text{
    display: none;
    opacity: 0;
    transition: 0.3s;
}
.accordion__text-open + .accordion__text{
    width: 62%;
    height: 100%;
    padding-left: rem(34px);
    padding-top: rem(48px);
    line-height: 1.5;
    display: block;
    opacity: 1;
    

    @include phones{
        width: 100%;
    }
}