.title{
    background: url(./../../src/image/back.jpg) 100% 100% no-repeat;
    background-size: cover;
    background-color: #61c4d9;


    @include tablets{
        background-position: 70%
    }
}

.title-container{
   background: url(./../../src/image/back2.png) right center/cover no-repeat;
   
   @include tablets{
       background-size: contain;
       background-position: rem(-123px) top;
   }
 
}
