.content__icon{
    padding-top: rem(66px);
    padding-bottom: rem(50px);
}
.icon__list{
    display: flex;
    justify-content: space-between;

    @include tablets{
        justify-content: space-around;
    }
    
}
.icon__item{
    display: flex;
    align-items: center;
    color: #fff;
    width: calc(100% / 3 - 45px);

    @include phones{
        width: 100%;
    }
}
.icon__pic{
    padding-right: rem(10px);
}