.delivery__form{
    display: flex;
    justify-content: space-between;

    @include tablets{
        flex-direction: column;
        
    }
}
.delivery{
    padding-top: rem(24px);
}
.form__row{
    display: flex;
    padding-top: rem(20px);
    color: #0f5a47;
}
.form__row--textarea{
    flex-direction: column;
}
.form__column{
    flex: 1;
    margin-right: rem(20px);

    @include tablets{
        padding: 0 10%;
    }

    @include phones{
        padding: 0;
    }
}
.form__column:last-child{
    margin-right: 0;
}
.form__block {
    flex: 1;
    margin-right: rem(20px);
    display: block;
  
    &:last-child {
      margin-right: 0;
    }
  }
.form__input{
    width: 100%;
    background: #fff;
    padding: rem(20px) 0 rem(20px) 0;
    border: none; 
}
.form__textarea--textarea{
    height: rem(180px);
    resize: none;
}
.form__row--radio{
    @include tablets{
        align-items: center;
    }
}
.form__row--btn{
    @include tablets{
        justify-content: center;
    }
}


