.form__row--radio {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.form__block--radio :last-child {
  margin-left: 40px; }

.form__block--radio, .form__block--square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__block--square {
  padding-top: 10px; }

.radio__input {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: 1px solid gray;
  margin-right: 10px;
  background-color: #fff; }

.radio__input::before {
  content: '';
  display: block;
  width: 67%;
  height: 67%;
  margin: 15% auto;
  border-radius: 50%; }

.radio__input:checked::before {
  background: #0f5a47; }

.radio__input:checked {
  border-color: #0f5a47; }

.radio__square {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  outline: none;
  border: 1px solid gray;
  margin-right: 10px;
  background-color: #fff; }

.radio__square:checked::before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: #0f5a47;
  text-align: center;
  line-height: 15px; }
